---
layout: null
---

/* --- Custom CSS for CajunCoding.com --- */

img.thumbnail {
	width: 200px;
	height: auto;
}

img.fullsize {
	width: 100%;
	height: auto;
	max-width: 800px;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}